<%- include("partials/header") -%>
<div class="container">
    <h1 id="main-heading"><%=post.title%></h1>
    <p><%-post.content%></p>
    <br>
    <p>Uploaded On <b><%=post.date%></b></p>
</div>
<%- include("partials/footer") -%> 
